<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jpc"
      android:versionCode="6"
      android:versionName="1.152"
      android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="20" 
          android:targetSdkVersion="20"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:label="ConSoul"
                 android:icon="@drawable/icon" 
                 android:largeHeap="true">

        <activity android:name="SplashscreenActivity"
                  android:label="ConSoul"
                  android:debuggable="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="tv.ouya.intent.category.GAME"/>
            </intent-filter>
        </activity>

        <activity android:name="ConSoul"
                  android:label="ConSoul"
                  android:debuggable="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="DetailsActivity"
                  android:label="ConSoul"
                  android:debuggable="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="JPC"
                  android:label="ConSoul"
                  android:debuggable="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="TextActivity"
                  android:label="ConSoul"
                  android:debuggable="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
